<h3><i class="fas fa-book-reader">Libro de Historias</i></h3>
<div class="section">
    <p class="lead"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, officia nemo. Culpa, illum? Debitis libero, consequuntur, rem praesentium dignissimos est deleniti cupiditate delectus qui animi consectetur quod quas? Consequuntur, explicabo?</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"> 
        <i class="fab fa-google left"></i>
        Login In Google
    </a>
</div>